<footer class="bg-light text-center text-lg-start mt-5 border-top">
    <div class="container p-4">
        <div class="d-flex justify-content-center py-3">
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="bi bi-twitter"></i>
            </a>
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="bi bi-github"></i>
            </a>
        </div>
        <div class="footer">
            <h5 class="text-uppercase text-center">Paradise</h5>
            <ul class="list-unstyled d-flex justify-content-center">
                <li><a href="#!" class="text-dark ms-2">About Us</a></li>
                <li><a href="#!" class="text-dark ms-2">Careers</a></li>
                <li><a href="#!" class="text-dark ms-2">Contact</a></li>
            </ul>
        </div>
    </div>
    </div>

    <div class="text-center p-3 bg-dark text-white">
        © 2026 Copyright:
        <a class="text-white fw-bold" href="https://yourwebsite.com/">Paradise.com</a>
    </div>
</footer>