body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}
.container{
    margin-top: 1rem;
    width: 100%;
}

.navbar {
    height: 4rem;
}

.navbar-brand i {
    color: #fe424d;
    margin-left: 3rem;
    font-size: x-large;
}

.nav-item {
    color: black !important;
    font-size: large;
}

.nav-item:hover {
    color: pink;
}

.list-unstyled {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-unstyled a:hover{
    text-decoration: underline -50px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.link {
    text-decoration: none !important;
}

.index-card {
    border: none !important;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.index-card:hover {
    opacity: 0.7;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}


/* show ejs*/
.show-card{
    display: flex !important;
    border: none !important;
}

.login{
    width: 100% ;
    height: 80vh;
    display: flex;
    gap: 5%;
    overflow: hidden;
}

.loginLeft{
    width: 55%;
    height: 100%;
    overflow: hidden;
}

.loginLeft img{
    transition: all 0.4s ease-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1%;
}

.loginLeft:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.loginRight{
    width: 35%;
}