<% layout("layouts/boilerplate") %>
<div class="row" style="height: 32vh;">
  <div
    class="alert  fs-3 alert-warning d-flex align-items-center justify-content-center"
    role="alert">
    <div class="mx-3"><i class="ri-error-warning-line"></i></div>
    <div><%= message %></div>
  </div>
</div>
