<% layout("layouts/boilerplate" )%>

<h3>All Listing</h3>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" >
    <% for(let listing of allListing){ %>
        <a class="link" href="/listings/<%= listing.id %>">
            <div class="card index-card col">
                <img src="<%= listing.image %>" class="card-img-top " style="height:  20rem;">
                <div class="card-body">
                    <b><p class="card-text"><%= listing.title %></p></b>
                    <p><%= listing.price.toLocaleString("en-IN") %>/Night</p>
                </div>
            </div>
        </a>
    <%} %>
</div>
        