<%- layout("layouts/boilerplate" )%>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="Listing[title]"
          class="form-control"
          id="title"
          placeholder="Enter  title"
          required />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Description</label>
        <textarea
          name="Listing[description]"
          class="form-control"
          placeholder="Add description"
          rows="3"
          required></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="text"
          name="Listing[image]"
          class="form-control"
          id="image"
          placeholder="Add Image link/URL" />
      </div>
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="price" class="form-label">Add Price</label>
          <input
            name="Listing[price]"
            class="form-control"
            id="price"
            placeholder="Enter Price"
            required />
        </div>
        <div class="mb-3 col-md-6">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="Listing[location]"
            class="form-control"
            id="location"
            placeholder="Enter Location"
            required />
        </div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="Listing[country]"
          class="form-control"
          id="country"
          placeholder="Enter Country"
          required />
      </div>
      <button class="btn btn-outline-secondary">Add</button>
    </form>
  </div>
</div>
